:root {
  --color-primary: #35c4d7;
  --color-secondary: #cce03d;
  --md-primary-fg-color: var(--color-primary);
  --md-primary-bg-color: var(--color-secondary);
  --md-primary-bg-color--light: #000;
}

:root>* {
  --md-footer-fg-color--light: #FFF;
}

.md-social__link svg {
  max-height: 1.4rem;
}

.md-social__link svg:hover {
  fill: var(--color-primary);
}